<header class="app-header">
  <h1>ScholarSystem <span class="badge">Pro</span></h1>
</header>

<nav class="main-nav">
  <div class="nav-container">
    <div class="nav-links">
      <a routerLink="/list" routerLinkActive="active-link">
        <i class="icon-dashboard"></i> Dashboard
      </a>
      <a routerLink="/cards" routerLinkActive="active-link">
        <i class="icon-cards"></i> Card View
      </a>
      <a routerLink="/enroll" routerLinkActive="active-link">
        <i class="icon-plus"></i> New Enrollment
      </a>
       <a routerLink="stats" routerLinkActive="active-link">
        <i class="icon-chart"></i> Class Stats
      </a>
    </div>
  </div>
</nav>

<main class="page-container">
  <app-stats></app-stats>

  <router-outlet></router-outlet>
</main>